################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin/
**/obj/
*.user
**/DesignTimeBuild
**/FileContentIndex
*.suo
**/.vs/
*appsettings.development.json
